.App {
  text-align: center;
}

.title {
  margin: 0;
  color: aquamarine;
  font-weight: bold;
  position: absolute;
  left: 3rem;
  top: 2rem;
  font-size: 2rem;
  width: 11rem;
  text-align: left;
}
